/* Add CSS Styling */

.odd {
    background-color: lightpink;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#number2 {
    color: blue;
    font-size: 36px;
}

.font24 {
    font-size: 24px;
}

#number4 {
    background-color: lightgreen;
    font-weight: bold;
}