/* Add CSS Styling */
.blackb, .whiteb {
    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', sans-serif;
}

.blackb {
    color: rgb(255, 255, 255);
    background-color: black;
}

.whiteb{
    color: black;
    background-color: white;
}